.Home {
    /*background: black;*/
    color: white;
    background-image: url("https://media.discordapp.net/attachments/966328852957769778/1154436433956847636/Untitled.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 100%;
    height: calc(100% - 45px);
    width: 100vw;
    position: fixed;
}
h1 {
    text-align: center;
    font-size: 200px;
}
p {
    text-align: center;
    font-size: 60px;
}