.SkinComponent {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 440px;
    height: 300px;
    background-color: #020202;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgb(255,255,255, 0.4));
    transition: filter 0.3s;
}
.SkinPreview {
    position: relative;
    width: 400px;
    height: 225px;
    border-radius: 4px;
    padding-top: 12px;
    transition: 1s;
}
.SkinComponent:hover {
    filter: drop-shadow(1px 2px 4px rgb(255,255,255, 0.8));
    cursor: pointer;
}
.SkinHeader {
    position: relative; 
    height: 45px;
}
.SkinName {
    color: white;
    float: left;
    padding-left: 20px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 20px;
}

.SkinVersion {
    float: left;
    padding-left: 8px;
    padding-top: 18px;
    color: gray;
    font-size: 16px;
}
.SkinYear {
    float: right;
    padding-right: 20px;
    padding-top: 18px;
    color: gray;
    font-size: 16px;
}