.App {
  text-align: center;
  background-color: black;
}

.slide-enter,
.slide-exit {
  transition: transform 200ms ease-in-out;
}
.slide-enter {
  transform: translateX(100%)
}
.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 45px;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

